@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 340 100% 10%; /* near black */

    --muted: 340 100% 97%;
    --muted-foreground: 340 100% 40%;

    --accent: 46 96% 62%; /* paradise gold */
    --accent-foreground: 340 100% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 340 100% 10%;

    --border: 340 100% 90%;
    --input: 340 100% 90%;

    --card: 0 0% 100%;
    --card-foreground: 340 100% 10%;

    --primary: 327 83% 54%; /* paradise pink */
    --primary-foreground: 0 0% 100%;

    --secondary: 46 96% 62%; /* paradise gold */
    --secondary-foreground: 340 100% 10%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --ring: 327 83% 54%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
